.loginContainer {
  margin-top: 100px;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'), url('../../fonts/Roboto-Medium.ttf') format('truetype');
}
.loginTitle {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  font-family: 'Roboto-Medium';
}
.phoneNumber {
  color: #704e4e;
  font-weight: 500;
}

.button {
  height: 40px;
  border-radius: 8px;
  background: #f55a5a;
  border: 0;
  margin-top: 40px;
  color: white;
  font-size: 18px;
}
.button:hover {
  background: #ff9696;
}

.button:focus {
  background: #e74848;
}
